@using Core.Constants.Account
@model IEnumerable<Presentation.View_Model.Data.AccountViewModel>

<table class="table-striped table-bordered table text-center align-middle">
    <thead class="table-primary">
        <tr>
            <th>No. </th>
            <th>@Html.DisplayNameFor(model => model.First().Account.Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().Account.Email)</th>
            <th>@Html.DisplayNameFor(model => model.First().Account.Role)</th>
            <th style="width: 350px;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {
            var count = 1;
            foreach (var item in Model) {
                <tr>
                    <td>@count</td>
                    <td>@item.Account.Name</td>
                    <td>@item.Account.Email</td>

                    <td>@item.Account.Role</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Account.Id" class="btn btn-sm btn-warning me-1" data-bs-toggle="modal" data-bs-target="#modal" data-action-type="@(AccountModalConst.Edit.Value)" data-id="@item.Account.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Account.Id" class="btn btn-sm btn-info me-1">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Account.Id" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal" data-action-type="@(AccountModalConst.Delete.Value)" data-id="@item.Account.Id">Delete</a>
                    </td>
                </tr>
                count++;
            }
        } else {
            <tr>
                <td colspan="6" class="text-muted text-center">No records found!</td>
            </tr>
        }
    </tbody>
</table>